<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spf.panditji">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.VadikSewaApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.PopularPoojaList"
            android:label="@string/title_activity_popular_pooja_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".view.PopularPurohitList"
            android:label="@string/title_activity_popular_purohit_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CheckAvailabilityScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.PanditProfile"
            android:label="@string/title_activity_pandit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SelectAddressScreen"
            android:label="@string/title_activity_pandit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.DetailScreen"
            android:label="@string/title_activity_detail_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CategoryListActivity"
            android:label="@string/title_activity_detail_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MyAccount"
            android:label="@string/title_activity_detail_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.fragment.ViewAllCategories"
            android:label="Categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.VerifyEmailActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".view.ForgotPasswordActivity" />

        <activity
            android:name=".view.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_Qh9oorV5KDPZj4" />
    </application>

</manifest>